<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--ZephyrScale-->
    <add key="ZephyrScaleApiBaseUrl" value="" />
    <add key="ZephyrScaleApiKey" value="" />
    <add key="ZephyrScaleProjectKey" value="" />

    <!--Jira-->
    <add key ="JiraBaseUrl" value =""/>
    <add key="JiraApiBaseUrl" value="" />
    <add key="JiraUserEmail" value="" />
    <add key="JiraApiToken" value="" />
    <add key="JiraJqlFilter" value="" />
  </appSettings>
</configuration>